[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
python-dotenv = "*"
flask = "*"
numpy = "*"
pandas = "*"
requests = "*"
werkzeug = "==0.16.0"
flask-restx = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
google-cloud-storage = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"
python-dotenv = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
